@import "../../assets/styles/variables";

.section-title {
    display: flex;
    justify-content: left;
    font-size: 15px;
    color: $tg-theme-hint;
    font-weight: $font-weight-bold;
    margin-left: 10px;
}
