@import "../../assets/styles/variables.scss";


.switch {
  display: flex;
  background-color: white;
  align-items: center;
  cursor: pointer;
  min-width: 55px;


  width: 55px;
  height: 25px;
  border-radius: 30px;
  padding-left: 1px;
  padding-right: 1px;

  &::before {
    content: "";
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: black;
    transition: transform 0.5s ease-in-out;
  }

  &__checked {
    background-color: $tg-theme-accent;
    transition: background-color 0.5s ease-in-out;

    &::before {
      transform: translateX(30px);
      transition: transform 0.5s ease-in-out;
    }
  }

}