@import "../.././assets/styles/variables.scss";

.slider-container {
  padding: 5px;
  border-radius: 10px;
  background-color: $tg-theme-secondary-bg;
}

.slider {
  position: relative;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__label {
    font-size: 14px;
    font-weight: $font-weight-regular;
    color: $tg-theme-hint;
  }

  &__value {
    font-size: 18px;
    font-weight: $font-weight-semibold;
    color: $tg-theme-text;
  }

  &__track {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $tg-theme-hint;
    border-radius: 5px;

    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      content: "";
      height: 20px;
      width: 4px;
      background-color: $tg-theme-hint;
      transform: translateY(-50%);
      top: 50%;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }

  &__filled-track {
    position: absolute;
    height: 5px;
    background-color: $tg-theme-accent;
  }
}

.slider__input {
  appearance: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  width: calc(100% - 5px);

  &::-webkit-slider-thumb {
    z-index: 2;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    background: $tg-theme-text;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}
