.description {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  padding: 6px;
  margin-left: -5px;
  font-size: 14px;
  ul {
    margin-left: -18px;
    margin-top: 5px;
  }

}